<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="/">Task List</a>
  <div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
    <ul class="my-2 my-lg-0">
      <li><%= link_to '新規タスクを作成', new_task_path, class:"btn btn-outline-info"%></li>
    </ul>
</nav>
